.navbar {
    background-color: #131921;
    width: 100vw;
    height: 5vh;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
}

img.amazon-logo {
    width: 7.5%;
    height: 100%;
    float: left;
    margin-right: 3%;
    border: none;
}

.search-form {
    width: 40%;
    height: 100%;
    float: left;
    margin-right: 3%;
}

.search-bar {
    width: 94%;
    height: 100%;
    float: left;
    border: none;
}

.search-button {
    height: 100%;
    width: 6%;
    float: left;
    background-color: #cd9042;
    border: none;
}

.signout {
    display: block;
    width: 15%;
    height: 100%;
    float: left;
    color: white;
    padding: none;
}

.signout p {
    color: rgb(173, 173, 173);
}

.orders {
    display: block;
    width: 10%;
    height: 100%;
    float: left;
    color: white;
}

.orders p {
    color: rgb(173, 173, 173);
}

.prime {
    display: block;
    width: 10%;
    height: 100%;
    float: left;
    color: white;
}

.prime p {
    color: rgb(173, 173, 173);
}

.cart {
    display: block;
    width: 10%;
    height: 100%;
    float: left;
}